html, body
{
  background-color: #D6D5C9;
  color: #000;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0.5em;
  background-color: #ebeae4;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #a22c29;
  outline: 1px solid #444;
}

h1, h2, h3, h4, h5, h6 {
  color: #A22C29;
}

footer
{
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

a, a:hover, a:focus, a:visited
{
  color: #000;
}

.btn {
  background-color: #B9BAA3;
  border: 1px solid #909090;
  border-radius: 5px;
  color: #0A100D;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  margin: 10px;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color 0.2s linear;
}
.btn:hover {
  background-color: #a3a581;
}

.btn i.fa {
  color: #000;
} 

.logo {
  height: auto;
  max-width: 400px;
}

.container {
  max-width: 1020px;
  margin: auto;
  padding: 0 10px;
}

.text-center {
  text-align: center;
}

.fa {
  color: #b9baa3;
}
